<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<title>Insert title here</title>
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
<link rel="stylesheet" href="../static/css/index.css">
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
</head>
<body>
<header>
	<h2 class="title"><a href="/">인사이드 아트</a></h2>
</header>
<div class="container">
	<nav>
	  <ul class="header-ul">
	  	<li class="header-li"><a href="/introduce">인사이트 아트 소개</a></li>
	  	<li class="header-li"><a href="mentorjoin">멘토 등록하기</a></li>
	  	<li class="header-li"><a href="/mentorsearch">멘토 찾기</a></li>
	  	<li class="header-li"><a href="/education">직무교육</a></li>
	  	<li class="header-li"><a href="/program">네트워크 프로그램</a></li>
	  	<li class="header-li"><a href="/board?page=1">콘텐츠</a></li>
	  </ul>
	</nav>
</div>
</body>
</html>